name: Tests

on: [push, pull_request]

jobs:
  Tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install packages
      run: |
        # Install latest GCC.
        sudo apt install -y g++-14 g++-13 g++-12 g++-11 g++-10
        # Install latest Clang.
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 17
        sudo ./llvm.sh 18
        sudo ./llvm.sh 19
        sudo ./llvm.sh 20
        sudo ./llvm.sh 21
        # Remove unsupported Clang.
        sudo apt remove clang-13
    - name: Clone deps
      run: git clone https://github.com/HolyBlackCat/macro_sequence_for ../macro_sequence_for
    - name: List compilers
      run: make -pq | grep ^COMPILER
    - name: Confirm installed compilers
      run: which clang++-21 clang++-20 clang++-19 clang++-18 clang++-17 g++-14 g++-13 g++-12 g++-11 g++-10
    - name: Run tests
      run: make COMPILER='clang++-21 clang++-20 clang++-19 clang++-18 clang++-17 g++-15 g++-14 g++-13 g++-12 g++-11 g++-10' CXXFLAGS='-Werror'
  Tests-MSVC:
    runs-on: windows-latest
    steps:
    - name: Locate MSVC
      uses: ilammy/msvc-dev-cmd@v1
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: make
        path-type: inherit
    - name: Checkout
      uses: actions/checkout@v3
    - name: Clone deps
      run: git clone https://github.com/HolyBlackCat/macro_sequence_for ../macro_sequence_for
    - name: Run tests
      run: |
        make COMPILER='cl clang-cl'
      shell: msys2 {0}
